header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: proxima-nova, sans-serif;
    font-size: 18px;

}

.header-left-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.header-centre-container {
    flex-grow: 2;
}

.header-right-container {
    flex-grow: 1;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    align-items: right;
    padding-right: 30px;
}

.nav-item {
    padding: 10px 20px 10px 10px;
}