.bounding-box {
    position: absolute;
    box-shadow: 0 0 0 3px #f22314 inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    margin: -8px;
}

.num-rec {
    flex-direction: column;
}