@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: proxima-nova, sans-serif;
  background-color: #fffffe;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #5f6c7b;
}

button {
  cursor: pointer;
}

.link {
  cursor: pointer;
}

.link:hover {
  color: #3b444e;
}

.form-btn {
  background-color: #3da9fc;
  color: #fffffe;
}