@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text--primary: #000;
}

body {
  color: var(--text--primary);
  margin: 0;
  background-color: #f9f8f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
